/* ////////////////////////////////////////

Your custom css here

/////////////////////////////////////////*/

.image-grid {
    display: grid;
    width: 100%;
    margin-top: 15px;
    padding: 0 15px;
    grid-gap: 30px;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
}

.image-grid figure {
    margin: 0;
}

.image-grid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 768px) {
    .image-grid {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 769px) {
    .image-grid figure {
        height: calc(50vw - 30px);
        max-height: 70vh;
    }
}